<h1>Bulletin / Announcements</h1>
<ul>
  <% @dates.each do |date| %>
    <li>
      <%= date[:name] %> -
        <a href='http://rbctoday.com/wp-content/uploads/<%= date[:date_stamp] %>-atw.pdf'>Bulletin</a> /
        <a href='http://rbctoday.com/wp-content/uploads/<%= date[:date_stamp] %>-atw.pdf'>Announcements</a>
    </li>
  <% end %>
</ul>
