<h1>List</h1>
<ul>
  <% @dates.each do |date| %>
    <li>
      Announcements:<a href='http://rbctoday.com/wp-content/uploads/<%= date[:date_stamp] %>-atw.pdf'><%= date[:name] %></a>
    </li>
  <% end %>
</ul>
